dash==1.16.1
dash-bootstrap-components==0.10.6
dash-core-components==1.12.1
dash-dangerously-set-inner-html==0.0.2
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.1
dash-table==4.10.1
dashserve==0.1.7
numpy==1.16.3
scipy==1.4.1
Flask==1.1.1
Flask-Compress==1.4.0


gunicorn==20.0.4
h5py==2.10.0




ipython-genutils==0.2.0

isodate==0.6.0












opencv-python==4.4.0.46



pandocfilters==1.4.2








PyQtWebEngine==5.12.1
pyreadline==2.1





python-utils==2.4.0



responses==0.10.4







serverfiles==0.3.0
setuptools-git==1.2






utils==1.0.1





